<h1>Register For An Account</h1>
<div class="row" ng-controller="AuthCtrl">
    <div class="col-md-3">
        <p>Please enter your login and password</p>
        <form class="form" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Login" ng-model="user.login">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repeat Password" ng-model="reppassw">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Paste url for your avatar" id="avatar_url" ng-model="user.avatarId">
            </div>
            <button class="btn btn-success" ng-click="addUser()" type="button">submit</button>
            <a href="#/" class="btn btn-default">Home page</a>
        </form>
        <div ng-show="messageVis">
            <h5>{{message}}</h5>
        </div>
    </div>
</div>
