<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Update account</h1>
        <form class="form" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" ng-model="user.name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Location" ng-model="user.location">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Number" ng-model="user.number">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Data" ng-model="user.birthday">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Paste url for your avatar"
                       id="avatar_url" ng-model="user.avatar">
            </div>
            <button class="btn btn-success" ng-click="update()" type="button">Update</button>
            <a href="#/" class="btn btn-default">Home page</a>
        </form>
    </div>
</div>